.features{
    padding-bottom: 60px;

    @include desktop{
        padding-bottom: 0px;
    }
}
.features-list{
    flex-direction: column;
    
    @include tablet{
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
    }
}
.features-list-item{
    width: 100%;
    height: auto;

    @include desktop{
        width: 270px;
        height: 251px;
    }
    
    &:not(:first-child){
        margin-top: 30px;

        @include desktop {
            margin-top: 0px;
        }
    }

    h2{
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14x;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;

        @include desktop{
            text-align: left;
        }
    }

    &:nth-child(1)>h2::before{
        content: "";
        display: block;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image: url(../images/antenna1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        width: 100%;
        height: 120px;

        @include desktop {
            width: 270px;
            height: 120px;
        }
    }

    &:nth-child(2)>h2::before{
        content: "";
        display: flex;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image: url(../images/clock1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        width: 100%;
        height: 120px;

        @include desktop {
            width: 270px;
            height: 120px;
        }
    }

    &:nth-child(3)>h2::before{
        content: "";
        display: flex;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image: url(../images/diagram1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        width: 100%;
        height: 120px;

        @include desktop {
            width: 270px;
            height: 120px;
        }
    }

    &:nth-child(4)>h2::before{
        content: "";
        display: flex;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image: url(../images/astronaut1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F5F4FA;
        width: 100%;
        height: 120px;

        @include desktop {
            width: 270px;
            height: 120px;
        }
    }

    p{
        display: block;
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $p-color;
        width: 100%;
        height: auto;

        @include desktop{
            width: 270px;
            height: 75px;
        }
    }
}