.mobile-menu{
    display: block;
    

    @include desktop{
        display: none;
        pointer-events: none;
    }

}
.mobile-menu-btn{
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: transparent;

    &>svg{
        fill: $main-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover{
        cursor: pointer;
    }

    &:hover>svg, &:focus>svg{
        fill: $accent-color;
    }

    &.is-open use:first-child{
        display: none;
    }
    &.is-open use:last-child{
        display: block;
    }
    & use:last-child{
        display: none;
    }
    & use:first-child{
        display: block;
    }
}

.mobile-menu-window{
    position: absolute;
    top: 60px;
    display: none;
    pointer-events: none;
    z-index: 4;
    padding-top: 60px;
    padding-bottom: 60px;
}
.mobile-menu-window.is-open{
    pointer-events: all;
    display: block;
    width: 100%;
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mobile-menu-nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;

    .mobile-nav-item{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $main-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus{
            color: $accent-color;
        }
        
        &.active-page::after{
            content: "";
            display: block;
            margin-top: 8px;
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
        }
    }

    &>li:not(:first-child){
        margin-top: 40px;
    }
}
.mobile-header-contacts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    &>li:last-child{
        margin-top: 16px;
    }

    .mobile-header-contacts{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.14px;
        letter-spacing: 0.02em;
        color: $p-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            color: $accent-color;
        }
    
        svg{
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            vertical-align: baseline;
            margin-right: 10px;
            fill: $p-color;
        }
    
        &:hover>svg,
        &:focus>svg{
            fill: $accent-color;
        }
    }
}