footer{
    padding: 60px 0px;
    width: 100%;
    background: #2F303A;
}
.footer{

    @include desktop{
        display: flex;
    }

    @include tablet{
        display: flex;
        flex-wrap: wrap;
    }

    @media screen  and (min-width:769px) and (max-width:1199px){
        justify-content: center;
    }
}
.footer-logo{
    margin-left: auto;
    margin-right: auto;
    width: 153px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    @include desktop{
        margin-left: 0px;
        margin-right: 0px;
    }

    @include tablet{
        margin-left: 100px;
    }

    @media screen  and (min-width:769px) and (max-width:1199px){
        margin-left: 30px;
    }

    &>span{
        color: $accent-color;
    }
}
.footer-contacts-list{
    text-align: center;
    margin-top: 20px;
    flex-direction: column;

    @include desktop {
        text-align: left;
    }

    @include tablet{
        margin-left: 61px;
    }

    @media screen  and (min-width:769px) and (max-width:1199px){
        margin-left: 0px;
    }

    &>li:not(:first-child){
        margin-top: 8px;

        @include desktop{
            margin-top: 9px;
        }
    }

    li>address{
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}
.footer-contacts{
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: $p-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: $accent-color;
    }
}

.join-us{
    margin-top: 60px;
    text-align: center;

    @include desktop{
        text-align: left;
        margin-left: 69px;
        margin-top: 12px;
    }

    @include tablet{
        margin-top: 5px;
        margin-left: 165px;
    }
}
.join-us-header{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.join-us-list{
    justify-content: center;
    display: flex;
    padding-top: 20px;

    @include desktop{
        justify-content: start;
    }
}
.join-us-list-item{
    height: 44px;
    margin-left: 10px;

    &>a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            background: $accent-color;
        }

        svg{
            fill: #ffffff;
        }
    }
    
}
.join-us-list-item:first-child{
    margin-left: 0px;
}

.subscribe{
    text-align: center;
    margin-top: 60px;

    @include desktop{
        text-align:left;
        margin-left: 93px;
        margin-top: 12px;
    }

    @include tablet{
        margin-left: 150px;
    }

    @media screen  and (min-width:769px) and (max-width:1199px){
        margin-left: 0px;
    }

    &>form>label{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.sub-mail{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;

    @include desktop{
        width: 358px;
    }

    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.sub-button{
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 29px;
    text-align: left;
    vertical-align: center;
    margin-top: 20px;

    @include desktop{
        margin-top: 0px;
    }

    &:hover{
        cursor: pointer;
    }
    
    &>svg{
        position: absolute;
        top: 13px;
        right: 28px;
    }
}
